body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: #242424;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
